.grid {
    display: grid;
    grid-template-columns: auto;
    &__main {
        padding: 25px;
        max-width: 375px;
        margin-inline: auto;
    }
    &__hero {
        gap: 30px;
        padding: 70px 0;
        text-align: center;
    }
    &__form-header {
        gap: 25px;
    }
    &__form {
        gap: 10px;
    }
    @media (min-width: 1100px) {
        &__main {
            grid-template-columns: 1fr 1fr;
            place-content: center;
            min-height: 100vh;
            gap: 50px;
            padding: 0 175px;
            max-width: 1440px;
            margin-inline: auto;
        }
        &__hero {
            text-align: left;
            padding: 120px 0;
        }
    }
}
